Options -Indexes 

RewriteEngine On

# 1. Force HTTPS and Non-WWW (301 Permanent Redirect)
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://kiarabatteryclinic.com/$1 [R=301,L]

# 2. CodeIgniter Clean URL Rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]